@{
    ViewData["Title"] = "Home Page";
}

<p>
    @if (User.Identity.IsAuthenticated)
    {

        <h1>Welcome @ViewBag.UserDetail</h1>


    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Login</a>
    }
</p>
